<mat-tab-group>
  <mat-tab label="{{tabs.TEMPLATE_DRIVEN_FROM}}">
    <mat-card style="max-width: 400px;">
      <app-template-driven-form [title]="tabs.TEMPLATE_DRIVEN_FROM"></app-template-driven-form>
    </mat-card>
  </mat-tab>
  <mat-tab label="{{tabs.LIFECYCLE_HOOKS}}">
    <mat-card style="max-width: 400px;">
      <app-lifecycle-hooks [title]="tabs.LIFECYCLE_HOOKS"></app-lifecycle-hooks>
    </mat-card>
  </mat-tab>
  <mat-tab label="{{tabs.REACTIVE_FORMS}}">
    <mat-card style="max-width: 400px;">
      <app-reactive-forms [title]="tabs.REACTIVE_FORMS"></app-reactive-forms>
    </mat-card>
  </mat-tab>
</mat-tab-group>
